@model MVC_template.Models.HomeProduct
@{
    ViewData["Title"] = "Show";
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
}


<section class="service_section layout_padding ">
    <div class="container">
        <br />
        <!--New product-->
        <h2 class="custom_heading">Các loại trái cây mới của trang web</h2>
        <p class="custom_heading-text">
            Các sản phẩm trái cây tươi mới vừa được nhập về cửa hàng của shop
        </p>
        @await Html.PartialAsync("PartialViewProduct",Model.newProducts)
        <!--End new product-->

        <br />
        <!--Top sale-->
        <h2 class="custom_heading">Các loại trái cây bán chạy</h2>
        <p class="custom_heading-text">
            Các sản phẩm trái cây tươi mới, bán chạy nhất của shop
        </p>
        @await Html.PartialAsync("PartialViewProduct",Model.topSaleProducts)
        <!--End top sale-->

        <br />
        <h2 class="custom_heading">Our Services</h2>
        <p class="custom_heading-text">
            Chúng tôi muốn xây dựng trang web cung cấp các dịch vụ như
        </p>
        <div class=" layout_padding2">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="~/Template/images/card-item-1.png" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">Trái cây tươi mới</h5>
                        <p class="card-text">
                            Trang web bán trai cây do Linh Group triển khai đảm bảo lượng trái cây sạch, mới và có nguồn gốc xuất sứ rõ ràng được nhập và làm mới hàng giờ.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/Template/images/card-item-2.png" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">Mua sắm trực tuyến tiện lợi</h5>
                        <p class="card-text">
                            Trang web cung cấp giao diện tối giản nhưng tiện lợi nhất cho người dùng thao tác, thực hiện các tính năng mua sắm trái cây trực tuyến.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/Template/images/card-item-3.png" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">Giao hàng trong 2h</h5>
                        <p class="card-text">
                            Dịch vụ giao hàng siêu tốc trong vòng 2h với công ty cung cấp dịch vụ Trần Tuấn Huynh. Khi giao quá lố thời gian trên phần hàng được đặt sẽ không tính tiền.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- tasty section -->
<section class="tasty_section">
    <div class="container_fluid">
        <h2>
            Very tasty fruits
        </h2>
    </div>
</section>
<!-- end tasty section -->

