
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_LayoutTemplateSubpage.cshtml";
}
<br />
<div class="form-outline mb-4">
  <input type="search" class="form-control" id="datatable-search-input">
  <label class="form-label" for="datatable-search-input">Search</label><br />
    <div class="d-flex justify-content-around">
        <div>
            <lable for="from">Giá từ:</lable>
            <input id="from" type="number" min="0" />
        </div>
        <div>
            <lable for="to">Đến:</lable>
            <input id="to" type="number" min="0" />
        </div>
        <button id="btnFind" type="button" class="btn btn-info">Tìm</button>

    </div>
  
  <br/>

  <hr />
</div>
<div id="datatable">
</div>

@section Scripts{
    <script>
        $(function (){
            $("#btnFind").click(function (v){
                console.log(v);
                console.log($("#datatable-search-input").val());
                console.log( $("#from").val());
                console.log( $("#to").val());
                $.ajax({
                    url:"/Shopping/AdvancedSearch",
                    type: "POST",
                    data: {
                        keyword: $("#datatable-search-input").val(), fromValue: $("#from").val(), toValue: $("#to").val()
                    },
                    success: function(res){
                        $("#datatable").html(res)
                    },
                    error: function (xhr, textStatus, error) {
                        alert(xhr.statusText);}

                });
                
                
            });
        });
        
    </script>
}

