USE [master]
GO
/****** Object:  Database [QLWebBanHang]    Script Date: 30/08/2023 6:57:51 PM ******/
CREATE DATABASE [QLWebBanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLWebBanHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\QLWebBanHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLWebBanHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\QLWebBanHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLWebBanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLWebBanHang]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 30/08/2023 6:57:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](11) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 30/08/2023 6:57:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [nvarchar](50) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[OrderDate] [date] NULL,
	[AmountPaid] [int] NULL,
	[CustomerID] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](11) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 30/08/2023 6:57:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailID] [nvarchar](50) NULL,
	[OrderID] [nvarchar](50) NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[Quantity] [int] NULL,
	[Unit] [int] NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_OrderDetail_1] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 30/08/2023 6:57:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[STT] [int] NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[ProductDescription] [nvarchar](255) NULL,
	[Quantity] [int] NULL,
	[Prices] [int] NULL,
	[SupplierID] [nvarchar](50) NULL,
	[Image] [nvarchar](255) NULL,
	[IsHide] [nchar](10) NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 30/08/2023 6:57:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[CustomerID] [nvarchar](50) NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[Quantity] [int] NULL,
	[Unit] [int] NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_ShoppingCart_1] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 30/08/2023 6:57:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [nvarchar](50) NOT NULL,
	[SupplierName] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Distributor] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 30/08/2023 6:57:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nchar](255) NOT NULL,
	[PassWord] [nchar](255) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
	[CustomerID] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserLogin] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [Address], [PhoneNumber]) VALUES (N'1f1d03b1-a00f-407b-96ed-f728a9ed40cb', N'mới', N'tài khoản', N'231 dô', N'093210313')
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [Address], [PhoneNumber]) VALUES (N'324d60c9-b94c-40b4-b5b1-12df3074df18', N'Linh', N'Nguyễn Thị', N'222 Nguyễn Thượng Hiền', N'0121121121')
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [Address], [PhoneNumber]) VALUES (N'38072962-b006-4b1e-9ac7-a27837f26662', N'hàng', N'Khách ', N'123 đâu đó', N'0112333401')
GO
INSERT [dbo].[Order] ([OrderID], [PaymentMethod], [OrderDate], [AmountPaid], [CustomerID], [Address], [Phone]) VALUES (N'05927c99-b11b-4b63-90af-71b9e7243787', NULL, CAST(N'2023-08-28' AS Date), 200000, N'88ba57b1-59ce-471a-be23-8a94c9d6c397', N'132 địa chỉ phường đâu quận đó', N'0123123456')
INSERT [dbo].[Order] ([OrderID], [PaymentMethod], [OrderDate], [AmountPaid], [CustomerID], [Address], [Phone]) VALUES (N'1c70feed-5e20-424f-baaf-8a6184e0e9f4', NULL, CAST(N'2023-08-28' AS Date), 130000, N'88ba57b1-59ce-471a-be23-8a94c9d6c397', N'132 địa chỉ phường đâu quận đó', N'0123123456')
INSERT [dbo].[Order] ([OrderID], [PaymentMethod], [OrderDate], [AmountPaid], [CustomerID], [Address], [Phone]) VALUES (N'1f9b7b86-4207-4d92-a844-31165be95642', NULL, CAST(N'2023-08-28' AS Date), 350000, N'5caeb550-61bd-466a-91f5-1b2115762beb', N'2134 001', N'0999999999')
GO
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Unit], [Total]) VALUES (NULL, N'05927c99-b11b-4b63-90af-71b9e7243787', N'5f126182-9fd4-4dbe-8473-68c512877ebb', 5, 20000, 100000)
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Unit], [Total]) VALUES (NULL, N'05927c99-b11b-4b63-90af-71b9e7243787', N'a4417e7d-a83e-4589-b34c-2cbe3cdf46c1', 5, 20000, 100000)
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Unit], [Total]) VALUES (NULL, N'1c70feed-5e20-424f-baaf-8a6184e0e9f4', N'93e13c14-f914-408a-b9d1-a0f64e70a104', 1, 130000, 130000)
GO
INSERT [dbo].[Product] ([STT], [ProductID], [ProductName], [ProductDescription], [Quantity], [Prices], [SupplierID], [Image], [IsHide]) VALUES (1, N'07477ad3-49ff-476a-9a08-56b8ed6e728d', N'Hồng sim', N'Trái hồng sim/ Sapoche ngon', 200, 20000, N'5f46580b-a570-4988-874c-c6bd803ef33a', N'sapoche.jpg', N'false     ')
INSERT [dbo].[Product] ([STT], [ProductID], [ProductName], [ProductDescription], [Quantity], [Prices], [SupplierID], [Image], [IsHide]) VALUES (12, N'22a54590-680e-4579-84d4-91f9ac881955', N'Quả mận hà nội', N'Mận Hà Nội được rất nhiều người yêu thích, nó không chỉ là đặc sản vùng cao, mà còn mang hương vị chua ngọt, giòn ngon, kích thích vị giác. Cùng VinID tìm hiểu công dụng của mận Hà Nội cũng như cách chọn được những trái ngon nhất về thưởng thức nhé!', 200, 20000, N'b145e702-7ffb-46ce-99a0-3127d87ae756', N'man-ha-noi.png', N'false     ')
INSERT [dbo].[Product] ([STT], [ProductID], [ProductName], [ProductDescription], [Quantity], [Prices], [SupplierID], [Image], [IsHide]) VALUES (2, N'24312240-c771-4b44-a418-2ac75d9da6dc', N'Sơ ri', N'một loại trái cây giàu dinh dưỡng của thực vật có tên khoa học là Malpighia Emarginata. Malpighia Emarginata là một loại cây bụi nhiệt đới hoặc cây gỗ nhỏ thuộc họ Malpighiaceae. Loại cây ăn quả này có nguồn gốc từ Nam Mỹ và miền nam Mexico. ', 200, 30000, N'5f46580b-a570-4988-874c-c6bd803ef33a', N'so-ri.jpg', N'false     ')
GO
INSERT [dbo].[ShoppingCart] ([CustomerID], [ProductID], [Quantity], [Unit], [Total]) VALUES (N'1f1d03b1-a00f-407b-96ed-f728a9ed40cb', N'26a7fb84-b585-47f6-a15a-ddfaad799b0b', 1, 70000, 70000)
INSERT [dbo].[ShoppingCart] ([CustomerID], [ProductID], [Quantity], [Unit], [Total]) VALUES (N'38072962-b006-4b1e-9ac7-a27837f26662', N'24312240-c771-4b44-a418-2ac75d9da6dc', 3, 30000, 90000)
INSERT [dbo].[ShoppingCart] ([CustomerID], [ProductID], [Quantity], [Unit], [Total]) VALUES (N'38072962-b006-4b1e-9ac7-a27837f26662', N'26a7fb84-b585-47f6-a15a-ddfaad799b0b', 4, 70000, 280000)
GO
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [Description]) VALUES (N'5f46580b-a570-4988-874c-c6bd803ef33a', N'Nguyễn Hoàng Phúc', N'Sĩ/lẽ trái cây nhiệt đới')
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [Description]) VALUES (N'b145e702-7ffb-46ce-99a0-3127d87ae756', N'Nguyễn Văn Linh', N'Nhà phân phối số 1')
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [Description]) VALUES (N'e3cede56-51c9-4c74-8ee8-54584a8808c8', N'Lê Tiến Phát', N'Nhà cung cấp trái cây hàng đầu với giá cả phải chăng')
GO
SET IDENTITY_INSERT [dbo].[UserLogin] ON 

SET IDENTITY_INSERT [dbo].[UserLogin] OFF
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Distributor] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Distributor]
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingCart_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[ShoppingCart] CHECK CONSTRAINT [FK_ShoppingCart_Customer]
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingCart_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ShoppingCart] CHECK CONSTRAINT [FK_ShoppingCart_Product]
GO
ALTER TABLE [dbo].[UserLogin]  WITH CHECK ADD  CONSTRAINT [FK_UserLogin_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[UserLogin] CHECK CONSTRAINT [FK_UserLogin_Customer]
GO
USE [master]
GO
